In [1]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from config import api_key
import requests
import json
import os

In [2]:
# Import each Netflix CSV file, read it and create a merged df that includes both the credits and title info
netflix_credits = "Resources/credits(Netflix).csv"
netflix_titles = "Resources/titles(Netflix).csv"

netflix_credits_df = pd.read_csv(netflix_credits)
netflix_titles_df = pd.read_csv(netflix_titles)

netflix = pd.merge(netflix_titles_df, netflix_credits_df, how="outer", on=["id", "id"])
netflix["Netflix"] = 1 # add a column for "Streaming Service" and enter "Netflix" for all rows
netflix

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role,Netflix
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN,NaN,NaN,NaN,NaN,1
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,3748.0,Robert De Niro,Travis Bickle,ACTOR,1
2,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,14658.0,Jodie Foster,Iris Steensma,ACTOR,1
3,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,7064.0,Albert Brooks,Tom,ACTOR,1
4,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,3739.0,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78157,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.300,373198.0,Inés Prieto,Fanny,ACTOR,1
78158,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.300,378132.0,Isabel Gaona,Cacica,ACTOR,1
78159,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.300,1950416.0,Julian Gaviria,NaN,DIRECTOR,1
78160,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,"Jamie Foxx, David Alan Grier and more from the...",2021,PG-13,37,[],['US'],NaN,NaN,NaN,NaN,1.296,10.000,NaN,NaN,NaN,NaN,1
78161,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,7,"['family', 'animation', 'comedy']",[],1.0,tt13711094,7.8,18.0,2.289,10.000,NaN,NaN,NaN,NaN,1

In [3]:
# Import each HBO CSV file, read it and create a merged df that includes both the credits and title info
hbo_credits = "Resources/credits(hbo).csv"
hbo_titles = "Resources/titles(hbo).csv"

hbo_credits_df = pd.read_csv(hbo_credits)
hbo_titles_df = pd.read_csv(hbo_titles)

hbo = pd.merge(hbo_titles_df, hbo_credits_df, how="outer", on=["id", "id"])
hbo["HBO"] = 1 # add a column for "Streaming Service" and enter "HBO" for all rows
hbo

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role,HBO
0,tm155702,The Wizard of Oz,MOVIE,Young Dorothy finds herself in a magical world...,1939,G,102,"['fantasy', 'family']",['US'],NaN,tt0032138,8.1,389774.0,41.442,7.6,60017.0,Judy Garland,Dorothy Gale,ACTOR,1
1,tm155702,The Wizard of Oz,MOVIE,Young Dorothy finds herself in a magical world...,1939,G,102,"['fantasy', 'family']",['US'],NaN,tt0032138,8.1,389774.0,41.442,7.6,53496.0,Ray Bolger,Hunk / Scarecrow,ACTOR,1
2,tm155702,The Wizard of Oz,MOVIE,Young Dorothy finds herself in a magical world...,1939,G,102,"['fantasy', 'family']",['US'],NaN,tt0032138,8.1,389774.0,41.442,7.6,79549.0,Jack Haley,Hickory / Tin Man,ACTOR,1
3,tm155702,The Wizard of Oz,MOVIE,Young Dorothy finds herself in a magical world...,1939,G,102,"['fantasy', 'family']",['US'],NaN,tt0032138,8.1,389774.0,41.442,7.6,79548.0,Bert Lahr,Zeke / Cowardly Lion,ACTOR,1
4,tm155702,The Wizard of Oz,MOVIE,Young Dorothy finds herself in a magical world...,1939,G,102,"['fantasy', 'family']",['US'],NaN,tt0032138,8.1,389774.0,41.442,7.6,60995.0,Margaret Hamilton,Elmira Gulch / Wicked Witch of the West,ACTOR,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66562,tm1067128,Algo Azul,MOVIE,Romantic comedy...coming soon.,2021,NaN,90,['comedy'],['PA'],NaN,tt9257620,5.9,50.0,1.400,2.0,1245864.0,Ash Olivera,Nora,ACTOR,1
66563,tm1067128,Algo Azul,MOVIE,Romantic comedy...coming soon.,2021,NaN,90,['comedy'],['PA'],NaN,tt9257620,5.9,50.0,1.400,2.0,2305203.0,Mariel Garcia Spooner,NaN,DIRECTOR,1
66564,tm1121489,Entre Nos: What She Said,MOVIE,A stand-up comedy special featuring Shari Diaz...,2021,NaN,28,['comedy'],[],NaN,tt15532762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
66565,tm1121486,Entre Nos: The Winners 2,MOVIE,Comedy special starring winners of the second ...,2021,NaN,28,['comedy'],[],NaN,tt15532736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
66566,tm989132,The Infamous Future,MOVIE,The untold story of New York City's Eagle Acad...,2021,NaN,40,['documentation'],['US'],NaN,tt9064760,NaN,NaN,1.101,5.3,1742757.0,Richard Butterworth,NaN,DIRECTOR,1

In [4]:
# Import each Hulu CSV file, read it and create a merged df that includes both the credits and title info
hulu_credits = "Resources/credits(hulu).csv"
hulu_titles = "Resources/titles(hulu).csv"

hulu_credits_df = pd.read_csv(hulu_credits)
hulu_titles_df = pd.read_csv(hulu_titles)

hulu = pd.merge(hulu_titles_df, hulu_credits_df, how="outer", on=["id", "id"])
hulu["Hulu"] = 1 # add a column for "Streaming Service" and enter "Hulu" for all rows
hulu

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role,Hulu
0,ts20475,Saturday Night Live,SHOW,A late-night live television sketch comedy and...,1975,TV-14,89,"['music', 'comedy']",['US'],47.0,tt0072562,8.0,47910.0,54.345,6.9,85144.0,Aidy Bryant,Self - Various Characters,ACTOR,1
1,ts20475,Saturday Night Live,SHOW,A late-night live television sketch comedy and...,1975,TV-14,89,"['music', 'comedy']",['US'],47.0,tt0072562,8.0,47910.0,54.345,6.9,85141.0,Michael Che,Self - Various Characters,ACTOR,1
2,ts20475,Saturday Night Live,SHOW,A late-night live television sketch comedy and...,1975,TV-14,89,"['music', 'comedy']",['US'],47.0,tt0072562,8.0,47910.0,54.345,6.9,87723.0,Pete Davidson,Self - Various Characters,ACTOR,1
3,ts20475,Saturday Night Live,SHOW,A late-night live television sketch comedy and...,1975,TV-14,89,"['music', 'comedy']",['US'],47.0,tt0072562,8.0,47910.0,54.345,6.9,99154.0,Mikey Day,Self - Various Characters,ACTOR,1
4,ts20475,Saturday Night Live,SHOW,A late-night live television sketch comedy and...,1975,TV-14,89,"['music', 'comedy']",['US'],47.0,tt0072562,8.0,47910.0,54.345,6.9,26921.0,Colin Jost,Self - Various Characters,ACTOR,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31968,tm1111028,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,"Melman the Giraffe meets Hank, a goose who has...",2021,G,24,"['comedy', 'family', 'animation']",[],NaN,tt15474126,4.8,41.0,1.312,NaN,1585682.0,Luke Lowe,Melman,ACTOR,1
31969,tm1111028,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,"Melman the Giraffe meets Hank, a goose who has...",2021,G,24,"['comedy', 'family', 'animation']",[],NaN,tt15474126,4.8,41.0,1.312,NaN,697695.0,Amir O'Neil,Marty,ACTOR,1
31970,tm1111028,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,"Melman the Giraffe meets Hank, a goose who has...",2021,G,24,"['comedy', 'family', 'animation']",[],NaN,tt15474126,4.8,41.0,1.312,NaN,279311.0,Eric Petersen,Ant'ney,ACTOR,1
31971,tm1111028,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,"Melman the Giraffe meets Hank, a goose who has...",2021,G,24,"['comedy', 'family', 'animation']",[],NaN,tt15474126,4.8,41.0,1.312,NaN,269589.0,Mark Whitten,Hank,ACTOR,1
31972,tm1111028,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,"Melman the Giraffe meets Hank, a goose who has...",2021,G,24,"['comedy', 'family', 'animation']",[],NaN,tt15474126,4.8,41.0,1.312,NaN,228300.0,Chad Van De Keere,NaN,DIRECTOR,1

In [5]:
all_stream = pd.merge(pd.merge(netflix, hbo, how="outer"), hulu, how="outer")
all_stream.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,...,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role,Netflix,HBO,Hulu
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,...,NaN,0.600,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,...,808582.0,40.965,8.179,3748.0,Robert De Niro,Travis Bickle,ACTOR,1.0,NaN,NaN
2,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,...,808582.0,40.965,8.179,14658.0,Jodie Foster,Iris Steensma,ACTOR,1.0,NaN,NaN
3,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,...,808582.0,40.965,8.179,7064.0,Albert Brooks,Tom,ACTOR,1.0,NaN,NaN
4,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,...,808582.0,40.965,8.179,3739.0,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR,1.0,NaN,NaN

In [6]:
# Rename columns for easier understanding and reorganize columns.
all_stream = all_stream.rename(columns={"id":"ID", "title":"Title", "type":"Type (Movie or TV Show)", \
                                        "description":"Description", "release_year":"Release Year", \
                                        "age_certification":"Rating", "runtime":"Runtime (min)", "genres":"Genre(s)",\
                                       "production_countries":"Production Country", "seasons":"# of Seasons", \
                                        "name":"Actor/Director Name", "role":"Role", "imdb_score":"IMDb Score", \
                                        "imdb_votes":"# of IMDb Votes"})
all_stream_cleaned = all_stream[["ID", "Netflix", "HBO", "Hulu", "Title", "Type (Movie or TV Show)", "IMDb Score", \
                         "# of IMDb Votes", "Release Year", "Rating", "Runtime (min)", "Genre(s)",\
                         "Production Country", "# of Seasons", "Actor/Director Name", "Role"]]
all_stream_cleaned

,ID,Netflix,HBO,Hulu,Title,Type (Movie or TV Show),IMDb Score,# of IMDb Votes,Release Year,Rating,Runtime (min),Genre(s),Production Country,# of Seasons,Actor/Director Name,Role
0,ts300399,1.0,NaN,NaN,Five Came Back: The Reference Films,SHOW,NaN,NaN,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN
1,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],NaN,Robert De Niro,ACTOR
2,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],NaN,Jodie Foster,ACTOR
3,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],NaN,Albert Brooks,ACTOR
4,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],NaN,Harvey Keitel,ACTOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175645,tm1111028,NaN,NaN,1.0,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,4.8,41.0,2021,G,24,"['comedy', 'family', 'animation']",[],NaN,Luke Lowe,ACTOR
175646,tm1111028,NaN,NaN,1.0,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,4.8,41.0,2021,G,24,"['comedy', 'family', 'animation']",[],NaN,Amir O'Neil,ACTOR
175647,tm1111028,NaN,NaN,1.0,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,4.8,41.0,2021,G,24,"['comedy', 'family', 'animation']",[],NaN,Eric Petersen,ACTOR
175648,tm1111028,NaN,NaN,1.0,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,4.8,41.0,2021,G,24,"['comedy', 'family', 'animation']",[],NaN,Mark Whitten,ACTOR
175649,tm1111028,NaN,NaN,1.0,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,4.8,41.0,2021,G,24,"['comedy', 'family', 'animation']",[],NaN,Chad Van De Keere,DIRECTOR

In [7]:
# bobby = all_stream_cleaned.loc[all_stream_cleaned["Actor/Director Name"]=="Adam Sandler",:]
# bobby
# sorted_bobby = bobby.sort_values(["Title"], ascending=True)
# sorted_bobby

In [8]:
# url = "http://www.omdbapi.com/?t="
# api_key = "&apikey=" + api_key
# # Performing a GET request similar to the one we executed
# # earlier
# response = requests.get(url + "Taxi Driver" + api_key)
# # Converting the response to JSON, and printing the result.
# data = response.json()
# data

In [9]:
cleaned = all_stream_cleaned.dropna(subset=["IMDb Score", "Genre(s)"])
cleaned

,ID,Netflix,HBO,Hulu,Title,Type (Movie or TV Show),IMDb Score,# of IMDb Votes,Release Year,Rating,Runtime (min),Genre(s),Production Country,# of Seasons,Actor/Director Name,Role
1,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],NaN,Robert De Niro,ACTOR
2,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],NaN,Jodie Foster,ACTOR
3,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],NaN,Albert Brooks,ACTOR
4,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],NaN,Harvey Keitel,ACTOR
5,tm84618,1.0,NaN,NaN,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],NaN,Cybill Shepherd,ACTOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175645,tm1111028,NaN,NaN,1.0,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,4.8,41.0,2021,G,24,"['comedy', 'family', 'animation']",[],NaN,Luke Lowe,ACTOR
175646,tm1111028,NaN,NaN,1.0,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,4.8,41.0,2021,G,24,"['comedy', 'family', 'animation']",[],NaN,Amir O'Neil,ACTOR
175647,tm1111028,NaN,NaN,1.0,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,4.8,41.0,2021,G,24,"['comedy', 'family', 'animation']",[],NaN,Eric Petersen,ACTOR
175648,tm1111028,NaN,NaN,1.0,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,4.8,41.0,2021,G,24,"['comedy', 'family', 'animation']",[],NaN,Mark Whitten,ACTOR
175649,tm1111028,NaN,NaN,1.0,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,4.8,41.0,2021,G,24,"['comedy', 'family', 'animation']",[],NaN,Chad Van De Keere,DIRECTOR

In [10]:
cleaned = cleaned.fillna({"Netflix": 0, "HBO":0, "Hulu":0, "# of Seasons":0, "Rating": ""})
cleaned

,ID,Netflix,HBO,Hulu,Title,Type (Movie or TV Show),IMDb Score,# of IMDb Votes,Release Year,Rating,Runtime (min),Genre(s),Production Country,# of Seasons,Actor/Director Name,Role
1,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],0.0,Robert De Niro,ACTOR
2,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],0.0,Jodie Foster,ACTOR
3,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],0.0,Albert Brooks,ACTOR
4,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],0.0,Harvey Keitel,ACTOR
5,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],0.0,Cybill Shepherd,ACTOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175645,tm1111028,0.0,0.0,1.0,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,4.8,41.0,2021,G,24,"['comedy', 'family', 'animation']",[],0.0,Luke Lowe,ACTOR
175646,tm1111028,0.0,0.0,1.0,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,4.8,41.0,2021,G,24,"['comedy', 'family', 'animation']",[],0.0,Amir O'Neil,ACTOR
175647,tm1111028,0.0,0.0,1.0,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,4.8,41.0,2021,G,24,"['comedy', 'family', 'animation']",[],0.0,Eric Petersen,ACTOR
175648,tm1111028,0.0,0.0,1.0,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,4.8,41.0,2021,G,24,"['comedy', 'family', 'animation']",[],0.0,Mark Whitten,ACTOR
175649,tm1111028,0.0,0.0,1.0,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,4.8,41.0,2021,G,24,"['comedy', 'family', 'animation']",[],0.0,Chad Van De Keere,DIRECTOR

In [11]:
filtered = cleaned[cleaned["# of IMDb Votes"]>10000]
filtered

,ID,Netflix,HBO,Hulu,Title,Type (Movie or TV Show),IMDb Score,# of IMDb Votes,Release Year,Rating,Runtime (min),Genre(s),Production Country,# of Seasons,Actor/Director Name,Role
1,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],0.0,Robert De Niro,ACTOR
2,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],0.0,Jodie Foster,ACTOR
3,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],0.0,Albert Brooks,ACTOR
4,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],0.0,Harvey Keitel,ACTOR
5,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],0.0,Cybill Shepherd,ACTOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174326,tm927830,0.0,0.0,1.0,The United States vs. Billie Holiday,MOVIE,6.2,12576.0,2021,R,131,"['drama', 'music']",['US'],0.0,Ronda Louis-Jeune,ACTOR
174327,tm927830,0.0,0.0,1.0,The United States vs. Billie Holiday,MOVIE,6.2,12576.0,2021,R,131,"['drama', 'music']",['US'],0.0,Maxime Paradis,ACTOR
174328,tm927830,0.0,0.0,1.0,The United States vs. Billie Holiday,MOVIE,6.2,12576.0,2021,R,131,"['drama', 'music']",['US'],0.0,Sarah Levesque,ACTOR
174329,tm927830,0.0,0.0,1.0,The United States vs. Billie Holiday,MOVIE,6.2,12576.0,2021,R,131,"['drama', 'music']",['US'],0.0,Donald Fullilove,ACTOR
174330,tm927830,0.0,0.0,1.0,The United States vs. Billie Holiday,MOVIE,6.2,12576.0,2021,R,131,"['drama', 'music']",['US'],0.0,Lee Daniels,DIRECTOR

In [12]:
filtered_score = filtered[filtered["IMDb Score"]>6.5]
filtered_score

,ID,Netflix,HBO,Hulu,Title,Type (Movie or TV Show),IMDb Score,# of IMDb Votes,Release Year,Rating,Runtime (min),Genre(s),Production Country,# of Seasons,Actor/Director Name,Role
1,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],0.0,Robert De Niro,ACTOR
2,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],0.0,Jodie Foster,ACTOR
3,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],0.0,Albert Brooks,ACTOR
4,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],0.0,Harvey Keitel,ACTOR
5,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],0.0,Cybill Shepherd,ACTOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174227,tm919867,0.0,0.0,1.0,"Quo Vadis, Aida?",MOVIE,8.0,31596.0,2021,,101,"['drama', 'history', 'war']","['NO', 'TR', 'NL', 'DE', 'BA', 'FR', 'PL', 'RO...",0.0,Nusmir Muharemović,ACTOR
174228,tm919867,0.0,0.0,1.0,"Quo Vadis, Aida?",MOVIE,8.0,31596.0,2021,,101,"['drama', 'history', 'war']","['NO', 'TR', 'NL', 'DE', 'BA', 'FR', 'PL', 'RO...",0.0,Alija Aljević,ACTOR
174229,tm919867,0.0,0.0,1.0,"Quo Vadis, Aida?",MOVIE,8.0,31596.0,2021,,101,"['drama', 'history', 'war']","['NO', 'TR', 'NL', 'DE', 'BA', 'FR', 'PL', 'RO...",0.0,Damir Mahmutović,ACTOR
174230,tm919867,0.0,0.0,1.0,"Quo Vadis, Aida?",MOVIE,8.0,31596.0,2021,,101,"['drama', 'history', 'war']","['NO', 'TR', 'NL', 'DE', 'BA', 'FR', 'PL', 'RO...",0.0,Dražen Pavlović,ACTOR
174231,tm919867,0.0,0.0,1.0,"Quo Vadis, Aida?",MOVIE,8.0,31596.0,2021,,101,"['drama', 'history', 'war']","['NO', 'TR', 'NL', 'DE', 'BA', 'FR', 'PL', 'RO...",0.0,Jasmila Žbanić,DIRECTOR

In [13]:
cleaned_movie = filtered_score[filtered_score["Type (Movie or TV Show)"]=="MOVIE"]
cleaned_movie

,ID,Netflix,HBO,Hulu,Title,Type (Movie or TV Show),IMDb Score,# of IMDb Votes,Release Year,Rating,Runtime (min),Genre(s),Production Country,# of Seasons,Actor/Director Name,Role
1,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],0.0,Robert De Niro,ACTOR
2,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],0.0,Jodie Foster,ACTOR
3,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],0.0,Albert Brooks,ACTOR
4,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],0.0,Harvey Keitel,ACTOR
5,tm84618,1.0,0.0,0.0,Taxi Driver,MOVIE,8.2,808582.0,1976,R,114,"['drama', 'crime']",['US'],0.0,Cybill Shepherd,ACTOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174227,tm919867,0.0,0.0,1.0,"Quo Vadis, Aida?",MOVIE,8.0,31596.0,2021,,101,"['drama', 'history', 'war']","['NO', 'TR', 'NL', 'DE', 'BA', 'FR', 'PL', 'RO...",0.0,Nusmir Muharemović,ACTOR
174228,tm919867,0.0,0.0,1.0,"Quo Vadis, Aida?",MOVIE,8.0,31596.0,2021,,101,"['drama', 'history', 'war']","['NO', 'TR', 'NL', 'DE', 'BA', 'FR', 'PL', 'RO...",0.0,Alija Aljević,ACTOR
174229,tm919867,0.0,0.0,1.0,"Quo Vadis, Aida?",MOVIE,8.0,31596.0,2021,,101,"['drama', 'history', 'war']","['NO', 'TR', 'NL', 'DE', 'BA', 'FR', 'PL', 'RO...",0.0,Damir Mahmutović,ACTOR
174230,tm919867,0.0,0.0,1.0,"Quo Vadis, Aida?",MOVIE,8.0,31596.0,2021,,101,"['drama', 'history', 'war']","['NO', 'TR', 'NL', 'DE', 'BA', 'FR', 'PL', 'RO...",0.0,Dražen Pavlović,ACTOR
174231,tm919867,0.0,0.0,1.0,"Quo Vadis, Aida?",MOVIE,8.0,31596.0,2021,,101,"['drama', 'history', 'war']","['NO', 'TR', 'NL', 'DE', 'BA', 'FR', 'PL', 'RO...",0.0,Jasmila Žbanić,DIRECTOR

In [14]:
cleaned_tv = filtered_score[filtered_score["Type (Movie or TV Show)"]=="SHOW"]
cleaned_tv

,ID,Netflix,HBO,Hulu,Title,Type (Movie or TV Show),IMDb Score,# of IMDb Votes,Release Year,Rating,Runtime (min),Genre(s),Production Country,# of Seasons,Actor/Director Name,Role
164,ts22164,1.0,0.0,0.0,Monty Python's Flying Circus,SHOW,8.8,73424.0,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,Graham Chapman,ACTOR
165,ts22164,1.0,0.0,0.0,Monty Python's Flying Circus,SHOW,8.8,73424.0,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,Michael Palin,ACTOR
166,ts22164,1.0,0.0,0.0,Monty Python's Flying Circus,SHOW,8.8,73424.0,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,Terry Jones,ACTOR
167,ts22164,1.0,0.0,0.0,Monty Python's Flying Circus,SHOW,8.8,73424.0,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,Eric Idle,ACTOR
168,ts22164,1.0,0.0,0.0,Monty Python's Flying Circus,SHOW,8.8,73424.0,1969,TV-14,30,"['comedy', 'european']",['GB'],4.0,Terry Gilliam,ACTOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173422,ts224364,0.0,0.0,1.0,Cruel Summer,SHOW,7.4,13094.0,2021,TV-14,42,"['drama', 'thriller']",['US'],1.0,Harley Quinn Smith,ACTOR
173423,ts224364,0.0,0.0,1.0,Cruel Summer,SHOW,7.4,13094.0,2021,TV-14,42,"['drama', 'thriller']",['US'],1.0,Allius Barnes,ACTOR
173424,ts224364,0.0,0.0,1.0,Cruel Summer,SHOW,7.4,13094.0,2021,TV-14,42,"['drama', 'thriller']",['US'],1.0,Brooklyn Sudano,ACTOR
173425,ts224364,0.0,0.0,1.0,Cruel Summer,SHOW,7.4,13094.0,2021,TV-14,42,"['drama', 'thriller']",['US'],1.0,Blake Lee,ACTOR
173426,ts224364,0.0,0.0,1.0,Cruel Summer,SHOW,7.4,13094.0,2021,TV-14,42,"['drama', 'thriller']",['US'],1.0,Michael Landes,ACTOR

In [15]:
# Export cleaned dfs to csv
os.makedirs("Resources", exist_ok=True)  
cleaned_movie.to_csv("Resources/cleaned_movie.csv")
cleaned_tv.to_csv("Resources/cleaned_tv.csv")