In [12]:
# Import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [54]:
# Import each Netflix CSV file, read it and create a merged df that includes both the credits and title info
netflix_credits = "Resources/credits(Netflix).csv"
netflix_titles = "Resources/titles(Netflix).csv"

netflix_credits_df = pd.read_csv(netflix_credits)
netflix_titles_df = pd.read_csv(netflix_titles)

netflix = pd.merge(netflix_titles_df, netflix_credits_df, how="outer", on=["id", "id"])
netflix["Streaming Service"] = "Netflix" # add a column for "Streaming Service" and enter "Netflix" for all rows
netflix

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role,Streaming Service
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN,NaN,NaN,NaN,NaN,Netflix
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,3748.0,Robert De Niro,Travis Bickle,ACTOR,Netflix
2,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,14658.0,Jodie Foster,Iris Steensma,ACTOR,Netflix
3,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,7064.0,Albert Brooks,Tom,ACTOR,Netflix
4,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,3739.0,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78157,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.300,373198.0,In√©s Prieto,Fanny,ACTOR,Netflix
78158,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.300,378132.0,Isabel Gaona,Cacica,ACTOR,Netflix
78159,tm1059008,Lokillo,MOVIE,A controversial TV host and comedian who has b...,2021,NaN,90,['comedy'],['CO'],NaN,tt14585902,3.8,68.0,26.005,6.300,1950416.0,Julian Gaviria,NaN,DIRECTOR,Netflix
78160,tm1035612,Dad Stop Embarrassing Me - The Afterparty,MOVIE,"Jamie Foxx, David Alan Grier and more from the...",2021,PG-13,37,[],['US'],NaN,NaN,NaN,NaN,1.296,10.000,NaN,NaN,NaN,NaN,Netflix
78161,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,7,"['family', 'animation', 'comedy']",[],1.0,tt13711094,7.8,18.0,2.289,10.000,NaN,NaN,NaN,NaN,Netflix

In [34]:
# Import each HBO CSV file, read it and create a merged df that includes both the credits and title info
hbo_credits = "Resources/credits(hbo).csv"
hbo_titles = "Resources/titles(hbo).csv"

hbo_credits_df = pd.read_csv(hbo_credits)
hbo_titles_df = pd.read_csv(hbo_titles)

hbo = pd.merge(hbo_titles_df, hbo_credits_df, how="outer", on=["id", "id"])
hbo["Streaming Service"] = "HBO" # add a column for "Streaming Service" and enter "HBO" for all rows
hbo

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role,Streaming Service
0,tm155702,The Wizard of Oz,MOVIE,Young Dorothy finds herself in a magical world...,1939,G,102,"['fantasy', 'family']",['US'],NaN,tt0032138,8.1,389774.0,41.442,7.6,60017.0,Judy Garland,Dorothy Gale,ACTOR,HBO
1,tm155702,The Wizard of Oz,MOVIE,Young Dorothy finds herself in a magical world...,1939,G,102,"['fantasy', 'family']",['US'],NaN,tt0032138,8.1,389774.0,41.442,7.6,53496.0,Ray Bolger,Hunk / Scarecrow,ACTOR,HBO
2,tm155702,The Wizard of Oz,MOVIE,Young Dorothy finds herself in a magical world...,1939,G,102,"['fantasy', 'family']",['US'],NaN,tt0032138,8.1,389774.0,41.442,7.6,79549.0,Jack Haley,Hickory / Tin Man,ACTOR,HBO
3,tm155702,The Wizard of Oz,MOVIE,Young Dorothy finds herself in a magical world...,1939,G,102,"['fantasy', 'family']",['US'],NaN,tt0032138,8.1,389774.0,41.442,7.6,79548.0,Bert Lahr,Zeke / Cowardly Lion,ACTOR,HBO
4,tm155702,The Wizard of Oz,MOVIE,Young Dorothy finds herself in a magical world...,1939,G,102,"['fantasy', 'family']",['US'],NaN,tt0032138,8.1,389774.0,41.442,7.6,60995.0,Margaret Hamilton,Elmira Gulch / Wicked Witch of the West,ACTOR,HBO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66562,tm1067128,Algo Azul,MOVIE,Romantic comedy...coming soon.,2021,NaN,90,['comedy'],['PA'],NaN,tt9257620,5.9,50.0,1.400,2.0,1245864.0,Ash Olivera,Nora,ACTOR,HBO
66563,tm1067128,Algo Azul,MOVIE,Romantic comedy...coming soon.,2021,NaN,90,['comedy'],['PA'],NaN,tt9257620,5.9,50.0,1.400,2.0,2305203.0,Mariel Garcia Spooner,NaN,DIRECTOR,HBO
66564,tm1121489,Entre Nos: What She Said,MOVIE,A stand-up comedy special featuring Shari Diaz...,2021,NaN,28,['comedy'],[],NaN,tt15532762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HBO
66565,tm1121486,Entre Nos: The Winners 2,MOVIE,Comedy special starring winners of the second ...,2021,NaN,28,['comedy'],[],NaN,tt15532736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HBO
66566,tm989132,The Infamous Future,MOVIE,The untold story of New York City's Eagle Acad...,2021,NaN,40,['documentation'],['US'],NaN,tt9064760,NaN,NaN,1.101,5.3,1742757.0,Richard Butterworth,NaN,DIRECTOR,HBO

In [35]:
# Import each Hulu CSV file, read it and create a merged df that includes both the credits and title info
hulu_credits = "Resources/credits(hulu).csv"
hulu_titles = "Resources/titles(hulu).csv"

hulu_credits_df = pd.read_csv(hulu_credits)
hulu_titles_df = pd.read_csv(hulu_titles)

hulu = pd.merge(hulu_titles_df, hulu_credits_df, how="outer", on=["id", "id"])
hulu["Streaming Service"] = "Hulu" # add a column for "Streaming Service" and enter "Hulu" for all rows
hulu

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role,Streaming Service
0,ts20475,Saturday Night Live,SHOW,A late-night live television sketch comedy and...,1975,TV-14,89,"['music', 'comedy']",['US'],47.0,tt0072562,8.0,47910.0,54.345,6.9,85144.0,Aidy Bryant,Self - Various Characters,ACTOR,Hulu
1,ts20475,Saturday Night Live,SHOW,A late-night live television sketch comedy and...,1975,TV-14,89,"['music', 'comedy']",['US'],47.0,tt0072562,8.0,47910.0,54.345,6.9,85141.0,Michael Che,Self - Various Characters,ACTOR,Hulu
2,ts20475,Saturday Night Live,SHOW,A late-night live television sketch comedy and...,1975,TV-14,89,"['music', 'comedy']",['US'],47.0,tt0072562,8.0,47910.0,54.345,6.9,87723.0,Pete Davidson,Self - Various Characters,ACTOR,Hulu
3,ts20475,Saturday Night Live,SHOW,A late-night live television sketch comedy and...,1975,TV-14,89,"['music', 'comedy']",['US'],47.0,tt0072562,8.0,47910.0,54.345,6.9,99154.0,Mikey Day,Self - Various Characters,ACTOR,Hulu
4,ts20475,Saturday Night Live,SHOW,A late-night live television sketch comedy and...,1975,TV-14,89,"['music', 'comedy']",['US'],47.0,tt0072562,8.0,47910.0,54.345,6.9,26921.0,Colin Jost,Self - Various Characters,ACTOR,Hulu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31968,tm1111028,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,"Melman the Giraffe meets Hank, a goose who has...",2021,G,24,"['comedy', 'family', 'animation']",[],NaN,tt15474126,4.8,41.0,1.312,NaN,1585682.0,Luke Lowe,Melman,ACTOR,Hulu
31969,tm1111028,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,"Melman the Giraffe meets Hank, a goose who has...",2021,G,24,"['comedy', 'family', 'animation']",[],NaN,tt15474126,4.8,41.0,1.312,NaN,697695.0,Amir O'Neil,Marty,ACTOR,Hulu
31970,tm1111028,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,"Melman the Giraffe meets Hank, a goose who has...",2021,G,24,"['comedy', 'family', 'animation']",[],NaN,tt15474126,4.8,41.0,1.312,NaN,279311.0,Eric Petersen,Ant'ney,ACTOR,Hulu
31971,tm1111028,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,"Melman the Giraffe meets Hank, a goose who has...",2021,G,24,"['comedy', 'family', 'animation']",[],NaN,tt15474126,4.8,41.0,1.312,NaN,269589.0,Mark Whitten,Hank,ACTOR,Hulu
31972,tm1111028,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,"Melman the Giraffe meets Hank, a goose who has...",2021,G,24,"['comedy', 'family', 'animation']",[],NaN,tt15474126,4.8,41.0,1.312,NaN,228300.0,Chad Van De Keere,NaN,DIRECTOR,Hulu

In [69]:
all_stream = pd.merge(pd.merge(netflix, hbo, how="outer"), hulu, how="outer")
all_stream

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,person_id,name,character,role,Streaming Service
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN,NaN,NaN,NaN,NaN,Netflix
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,3748.0,Robert De Niro,Travis Bickle,ACTOR,Netflix
2,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,14658.0,Jodie Foster,Iris Steensma,ACTOR,Netflix
3,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,7064.0,Albert Brooks,Tom,ACTOR,Netflix
4,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,tt0075314,8.2,808582.0,40.965,8.179,3739.0,Harvey Keitel,Matthew 'Sport' Higgins,ACTOR,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176697,tm1111028,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,"Melman the Giraffe meets Hank, a goose who has...",2021,G,24,"['comedy', 'family', 'animation']",[],NaN,tt15474126,4.8,41.0,1.312,NaN,1585682.0,Luke Lowe,Melman,ACTOR,Hulu
176698,tm1111028,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,"Melman the Giraffe meets Hank, a goose who has...",2021,G,24,"['comedy', 'family', 'animation']",[],NaN,tt15474126,4.8,41.0,1.312,NaN,697695.0,Amir O'Neil,Marty,ACTOR,Hulu
176699,tm1111028,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,"Melman the Giraffe meets Hank, a goose who has...",2021,G,24,"['comedy', 'family', 'animation']",[],NaN,tt15474126,4.8,41.0,1.312,NaN,279311.0,Eric Petersen,Ant'ney,ACTOR,Hulu
176700,tm1111028,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,"Melman the Giraffe meets Hank, a goose who has...",2021,G,24,"['comedy', 'family', 'animation']",[],NaN,tt15474126,4.8,41.0,1.312,NaN,269589.0,Mark Whitten,Hank,ACTOR,Hulu
176701,tm1111028,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,"Melman the Giraffe meets Hank, a goose who has...",2021,G,24,"['comedy', 'family', 'animation']",[],NaN,tt15474126,4.8,41.0,1.312,NaN,228300.0,Chad Van De Keere,NaN,DIRECTOR,Hulu

In [70]:
# Rename columns for easier understanding and reorganize columns.
all_stream = all_stream.rename(columns={"id":"ID", "title":"Title", "type":"Type (Movie or TV Show)", \
                                        "description":"Description", "release_year":"Release Year", \
                                        "age_certification":"Rating", "runtime":"Runtime (min)", "genres":"Genre(s)",\
                                       "production_countries":"Production Country", "seasons":"# of Seasons", \
                                        "name":"Actor", "imdb_score":"IMDb Score", "imdb_votes":"# of IMDb Votes"})
all_stream = all_stream[["ID", "Streaming Service", "Title", "Type (Movie or TV Show)", "IMDb Score", \
                         "# of IMDb Votes", "Description", "Release Year", "Rating", "Runtime (min)", "Genre(s)",\
                         "Production Country", "# of Seasons", "Actor"]]
all_stream

,ID,Streaming Service,Title,Type (Movie or TV Show),IMDb Score,# of IMDb Votes,Description,Release Year,Rating,Runtime (min),Genre(s),Production Country,# of Seasons,Actor
0,ts300399,Netflix,Five Came Back: The Reference Films,SHOW,NaN,NaN,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN
1,tm84618,Netflix,Taxi Driver,MOVIE,8.2,808582.0,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,Robert De Niro
2,tm84618,Netflix,Taxi Driver,MOVIE,8.2,808582.0,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,Jodie Foster
3,tm84618,Netflix,Taxi Driver,MOVIE,8.2,808582.0,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,Albert Brooks
4,tm84618,Netflix,Taxi Driver,MOVIE,8.2,808582.0,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,Harvey Keitel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176697,tm1111028,Hulu,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,4.8,41.0,"Melman the Giraffe meets Hank, a goose who has...",2021,G,24,"['comedy', 'family', 'animation']",[],NaN,Luke Lowe
176698,tm1111028,Hulu,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,4.8,41.0,"Melman the Giraffe meets Hank, a goose who has...",2021,G,24,"['comedy', 'family', 'animation']",[],NaN,Amir O'Neil
176699,tm1111028,Hulu,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,4.8,41.0,"Melman the Giraffe meets Hank, a goose who has...",2021,G,24,"['comedy', 'family', 'animation']",[],NaN,Eric Petersen
176700,tm1111028,Hulu,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,4.8,41.0,"Melman the Giraffe meets Hank, a goose who has...",2021,G,24,"['comedy', 'family', 'animation']",[],NaN,Mark Whitten
176701,tm1111028,Hulu,Madagascar: A Little Wild Holiday Goose Chase,MOVIE,4.8,41.0,"Melman the Giraffe meets Hank, a goose who has...",2021,G,24,"['comedy', 'family', 'animation']",[],NaN,Chad Van De Keere

In [71]:
bobby = all_stream.loc[all_stream["Actor"]=="Winona Ryder",:]
bobby
sorted_bobby = bobby.sort_values(["Title"], ascending=True)
sorted_bobby

,ID,Streaming Service,Title,Type (Movie or TV Show),IMDb Score,# of IMDb Votes,Description,Release Year,Rating,Runtime (min),Genre(s),Production Country,# of Seasons,Actor
92345,tm39601,HBO,Beetlejuice,MOVIE,7.5,290763.0,"Thanks to an untimely demise via drowning, a y...",1988,PG,92,"['comedy', 'fantasy']",['US'],NaN,Winona Ryder
149082,tm100061,Hulu,Black Swan,MOVIE,8.0,745933.0,A journey through the psyche of a young baller...,2010,R,108,"['thriller', 'horror', 'documentation', 'drama']",['US'],NaN,Winona Ryder
29509,tm414887,Netflix,Destination Wedding,MOVIE,6.0,29546.0,Frank and Lindsay‚Äîtwo emotionally-broken stran...,2018,R,90,"['drama', 'romance', 'comedy']",['US'],NaN,Winona Ryder
2808,tm44402,Netflix,"Girl, Interrupted",MOVIE,7.3,183154.0,"Set in the changing world of the late 1960s, S...",1999,R,127,"['drama', 'european']","['DE', 'US']",NaN,Winona Ryder
3137,tm113576,Netflix,Little Women,MOVIE,7.3,58178.0,With their father away as a chaplain in the Ci...,1994,PG,115,"['drama', 'romance', 'family']",['US'],NaN,Winona Ryder
150463,tm105227,Hulu,Mr. Deeds,MOVIE,5.8,143007.0,"When Longfellow Deeds, a small-town pizzeria o...",2002,PG-13,96,"['romance', 'comedy']",['US'],NaN,Winona Ryder
102208,tm8194,HBO,Night on Earth,MOVIE,7.7,59742.0,An anthology of 5 different cab drivers in 5 A...,1991,R,128,"['comedy', 'drama']","['FR', 'JP', 'GB', 'US', 'DE']",NaN,Winona Ryder
59055,tm947555,Netflix,Sarah Cooper: Everything's Fine,MOVIE,5.5,1726.0,Comedian and Trump lip-synching sensation Sara...,2020,NaN,49,['comedy'],['US'],NaN,Winona Ryder
130069,ts36418,HBO,Show Me a Hero,SHOW,8.0,10805.0,Mayor Nick Wasicsko took office in 1987 during...,2015,TV-MA,60,"['drama', 'history']",['US'],1.0,Winona Ryder
20158,ts38796,Netflix,Stranger Things,SHOW,8.7,1101055.0,"When a young boy vanishes, a small town uncove...",2016,TV-14,61,"['scifi', 'thriller', 'drama', 'fantasy', 'hor...",['US'],5.0,Winona Ryder
137185,ts53882,HBO,The Plot Against America,SHOW,7.3,9466.0,An alternate American history told through the...,2020,TV-MA,62,"['scifi', 'drama', 'thriller']",['US'],1.0,Winona Ryder